[data-modifier="minimal"] {
  --font-family-base: "Inter", ui-sans-serif, system-ui, sans-serif;
  --border-radius-base: 0rem;
  --shadow-base: none;
  --radius: 0rem;
  --transition-base: all 200ms ease-out;
}

[data-modifier="minimal"] * {
  letter-spacing: -0.025em;
}

[data-modifier="minimal"] .shadow-sm,
[data-modifier="minimal"] .shadow,
[data-modifier="minimal"] .shadow-md,
[data-modifier="minimal"] .shadow-lg,
[data-modifier="minimal"] .hover\:shadow-lg:hover {
  box-shadow: none;
}

[data-modifier="minimal"] .rounded,
[data-modifier="minimal"] .rounded-sm,
[data-modifier="minimal"] .rounded-md,
[data-modifier="minimal"] .rounded-lg,
[data-modifier="minimal"] .rounded-xl {
  border-radius: 0;
}

[data-modifier="minimal"] button {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.875rem;
}
